<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899782617587-ir6episqmt1qb0iu35opf1ocsjfvkqpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899782617587-ir6episqmt1qb0iu35opf1ocsjfvkqpa</string>
	<key>API_KEY</key>
	<string>AIzaSyChTWdK0VnwvDxPDoA0fCWJp2HnhpNEKnM</string>
	<key>GCM_SENDER_ID</key>
	<string>899782617587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moticar</string>
	<key>PROJECT_ID</key>
	<string>use-moticar</string>
	<key>STORAGE_BUCKET</key>
	<string>use-moticar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899782617587:ios:98073a0dea835bac5c4a86</string>
</dict>
</plist>